$breakpoints : (
    xs: 640px,
    sm: 768px,
    md: 1024px,
    lg: 1280px
);

$green : #00b600;
$greenLighter : #006900;
$greenHover : rgb(0, 37, 0);

$blue : #2738ce;
$blueLighter : #22288d;

$error : rgb(139, 23, 23);
$errorString : rgb(182, 23, 23);

$ease-out-quint : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background : #000000;