.chat {
  @apply flex h-screen w-screen p-4;

  &__sidebar {
    @apply flex flex-col w-64 justify-between flex-shrink-0;
  }

  &__body {
    @apply flex flex-col w-full mr-2;
  }

  &__list {
    &-item {
      &--unread {
        @apply font-bold underline;
      }
    }
  }

  .channel {
    @apply flex overflow-scroll;

    &__content {
      @apply flex flex-col justify-between max-h-full h-full;
    }

    &__users {
      @apply flex-shrink flex-grow-0 overflow-x-hidden overflow-y-scroll;
    }

    &__details {
      @apply flex-grow-0 flex-shrink-0;
      height : 20rem;
    }

    &__messages {
      @apply flex flex-col-reverse;
    }

    &__message {
      @apply relative flex-col mt-2;

      &--action {
        @apply italic;
      }

      &:hover {
        .channel__message-time {
          @apply inline-block;
        }
      }

      &-author {
        @apply block text-gray-600 text-sm w-full;
      }

      &-content {
        @apply block w-full pl-2;
      }

      &-time {
        @apply absolute top-0 text-xs text-gray-600 hidden;
        right : 0.75rem;
      }

      &--system {
        @apply border p-2;

        .channel__message-author, .channel__message-content {
          @apply text-gray-500;
        }

        span {
          @apply underline text-gray-200;
        }
      }
    }

    &__form {
      @apply h-32 flex-grow-0 flex-shrink-0;
      height : 20rem;

      &-message {
        @apply w-full h-full;
        resize : none;
      }
    }

    &__user {
      @apply pl-6;

      &-name {
        max-width     : 210px;
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
      }

      &--offline {
        color : $greenLighter;
      }

      &--current {
        @apply font-bold;
      }

      &--typing {
        &:after {
          @apply ml-1;
          display          : block;
          content          : ' ';
          width            : 5px;
          height           : 20px;
          background-color : white;
          animation        : blinkCursor .75s step-end infinite;
        }
      }

      &--admin {
        @apply relative;

        &:before {
          @apply absolute text-white font-secondary;
          content : '@';
          left    : .5rem;
          bottom  : .1rem;
        }
      }
    }
  }
}

@keyframes blinkCursor {
  from, to {
    background-color : transparent
  }
  50% {
    background-color : white;
  }
}